[user]
	email = neelgupta04@outlook.com
	name = Neel Gupta
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = hx
[diff]
	tool = difftastic
[difftool "difftastic"]
	cmd = sh -c 'difft "$1" "$2"' -- "$LOCAL" "$REMOTE"
[difftool]
	prompt = false
